<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin UI for morecat</title>

  {% style "/assets/bootstrap/css/bootstrap.min.css" %}
  {% style "/css/metisMenu.min.css"}
  {% style "/css/timeline.css" %}
  {% style "/css/sb-admin-2.css" %}
  {% style "/css/font-awesome.min.css" %}
  {% block page-css %}
  {% endblock %}
</head>
<body>

<div id="wrapper">
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{servlet-context}}/" class="navbar-brand">Admin UI for morecat</a>
    </div>

    <ul class="nav navbar-top-links navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="fa fa-user fa-fw"></i> Profile</a></li>
          <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
          <li class="divider"></li>
          <li><a href="{{servlet-context}}/"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
        </ul>
      </li>
    </ul>

    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
          <li class="sidebar-search">
            <div class="input-group custom-search-form">
              <a id="new-entry" class="btn btn-primary" href="{{servlet/context}}/entries/new" role="link">New Post</a>
            </div>
          </li>
          <li><a href="{{servlet-context}}/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
          <li><a id="entries_link" href="{{servlet-context}}/entries"><i class="fa fa-edit fa-fw"></i> Entries</a></li>
          <li><a href="{{servlet-context}}/media"><i class="fa fa-camera fa-fw"></i> Media</a></li>
          <li>
            <a href="#"><i class="fa fa-cogs fa-fw"></i> Settings<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
              <li><a href="{{servlet-context}}/system">System</a></li>
              <li><a href="{{servlet-context}}/users">Users</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="page-wrapper">
    {% block content %}
    {% endblock %}
  </div>

</div>

<!-- scripts -->
{% script "/assets/jquery/jquery.min.js" %}
{% script "/assets/bootstrap/js/bootstrap.min.js" %}
{% script "/js/metisMenu.min.js" %}
{% script "/js/sb-admin-2.js" %}

<script type="text/javascript">
  var context = "{{servlet-context}}";
</script>
{% block page-scripts %}
{% endblock %}
</body>

</html>
